@charset "utf-8";
@use "reset";
@use "animation" as*;
@use "responsive" as*;
@use "hamburger" as*;
@use "modal" as*;



// リセットクラス
body {
    font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”,
        “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”,
        “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    color: #333333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

img {
    width: 100%;
}

main {
    overflow: hidden;
    position: relative;
}

.hanberger-menu {
    display: none;
}



// ボタンクラス
.service .btn {
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
    overflow: hidden;
    /*ボタンの形状*/
    text-decoration: none;
    display: inline-block;
    border: 1px solid #555;
    /* ボーダーの色と太さ */
    padding: 10px 30px;
    text-align: center;
    outline: none;
    /*アニメーションの指定*/
    transition: ease .2s;
}

/*ボタン内spanの形状*/
.service .btn span {
    position: relative;
    z-index: 3;
    /*z-indexの数値をあげて文字を背景よりも手前に表示*/
    color: #333;
}

.service .btn:hover span {
    color: #fff;
}

/*== 背景が流れる（左から右） */
.bgleft:before {
    content: '';
    /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*色や形状*/
    background: #333;
    /*背景色*/
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
}

/*hoverした際の形状*/
.bgleft:hover:before {
    transform-origin: left top;
    transform: scale(1, 1);
}




// 汎用クラス
.section-inner {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.inner {
    max-width: 1880px;
    width: 100%;
    margin: 0 auto;
}

.vertical-writing {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

.section-title-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;

    img {
        height: 40px;
        width: 40px;
    }
}

// ヘッダー
.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    color: #fff;



    &-inner {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-bottom: 12px;
    }

    &-left {
        align-items: center;
        display: flex;
        justify-content: space-between;
        // color: #FFF;
    }

    &-logo-warp {
        margin-right: 120px;
        @include responsive(sm) {
            margin-right: 0px;

        }

        img {
            object-fit: cover;
            @include responsive(sm) {
                width: 80%;
                object-fit: cover;
            }
            @include responsive(sp) {
                width: 70%;
                object-fit: cover;
            }

        }
    }

    .nav-menu-wrap {
        display: flex;
        justify-content: space-between;
    }

    &-right {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        padding: 16px 37px;
        background-color: #978F10;
        color: #fff;
        margin-top: 13px;
        gap: 8px;
        cursor: pointer;

        @include responsive(sm) {
            right: 60px;
            padding: 8px 16px;

        }
        @include responsive(sp) {
            font-size: 12px;
        }



        p span {
            display: inline;
            @include responsive(sp) {
                font-size: 18px;
            }
    
        }

        span {
            display: block;

            @include responsive(sm) {
                text-align: center;
            }
        }
    }

    &-right:hover {
        cursor: pointer;
    }



    &-menu-box {
        display: flex;
        justify-content: space-between;
        padding-top: 12px;

        @include responsive(sm) {
            flex-direction: column;
            align-items: center;
            padding-top: 40%;
        }

        a {
            display: block;

            @include responsive(sm) {
                width: 100%;
            }
        }
    }

    &-center {
        @include responsive(sm) {
            display: none;
            width: 80%;
            height: 100vh;
            position: absolute;
            top: 0;
            background-color: rgba(0, 0, 0, 0.6);
            transition: 1.5s;

        }
    }

    &-menu-item {
        margin-right: 33px;
        color: #fff;

        @include responsive(sm) {
            padding: 10px 40px;
            width: 100%;
        }
    }

    &-menu-item:hover {
        @include responsive(sm) {
            background: rgba(255, 255, 255, 0.6);
            transition: all 0.5s;
            color: #000000;
        }
    }

    // スクロールしたらカラーを変える
    &-menu-item.headerColorScroll {
        color: #333;
        transition: color 0.4s ease-out;
        @include responsive(sm){
            color: #fff;

        }
    }

    &.headerLogoScroll {
        background-color: #fff;

    }

}





// メイン
.mainvisurl {
    position: relative;

    .main-img01 {
        position: absolute;
        top: 0;
    }

    .main-img02 {
        position: absolute;
        top: 0;
        opacity: 0;


    }

    .main-img03 {
        position: absolute;
        top: 0;
        opacity: 0;
    }

   
    .slick-img {
        @include responsive(sm){
            // display: none; 
        }
        .mainvisurl-img-pc {
            display: block;
            @include responsive(sm) {
                display: none;
            }
        }
        .mainvisurl-img-sp {
            display: none;
            @include responsive(sm) {
                display: block;
    
            }
        }
    
    }


    .catcopy-wrap {
        display: flex;
        position: absolute;
        top: 33%;
        left: 67.77%;

        @include responsive(md) {
            top: 20%;
        }

        @include responsive(sm) {
            left: 30%;
        }

    }

    .catcopy-2,
    .catcopy-1 {
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        padding: 25px;
        font-size: 34px;
        font-weight: bold;
        color: #FFF;

        @include responsive(sm) {
            font-size: 28px;
        }

    }

}

//introduction
.introduction {
    background-image: url(../img/bg.png);
    width: 100%;

    &-inner {
        justify-content: space-between;
        display: flex;
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        flex-direction: row-reverse;
        padding: 150px 0 100px;
        @include responsive(sm){
            display: block;
            padding: 50px 30px;

        }
    }

    &-title {
        font-size: 28px;
        line-height: 1.714;
        letter-spacing: .5em;
        padding-right: 100px;
        text-indent: -3em;

        @include responsive(sm) {
            padding-right: 20px;
            text-indent: 0em;
            line-height: 1.3;
            margin-bottom: 30px;

        }
    }

    &-mes {
        font-size: 16px;
        letter-spacing: .5em;
        line-height: 1.375;
        @include responsive(sm) {
            margin-bottom: 20px;
            .sp-none{
                display: none;
            }

        }


    }
    .vertical-writing{
        @include responsive(sm){
            writing-mode: horizontal-tb;
        }
    }

    .textconbine {
        -webkit-text-combine: horizontal;
        -ms-text-combine-horizontal: all;
        text-combine-upright: all;
    }

    &-name {
        padding-left: 220px;
        font-size: 22px;
        text-align: right;
        letter-spacing: .5em;

        @include responsive(sm) {
            padding-left: 20px;

        }

    }

}

.service {
    width: 100%;
    padding: 100px 0 0 0;

    &-inner {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
    }

    &-list-box {
        display: flex;
        margin-bottom: 100px;

        @include responsive(md) {
            flex-direction: column;
        }
    }

    &-list-item-img {
        width: 54.68%;

        @include responsive(md) {
            width: 100%;
        }

    }

    &-list-item-txt {
        margin-left: 137px;

        @include responsive(md) {
            margin: 0 auto;
            margin-top: 100px;
            text-align: center;
        }
    }

    &-title {
        font-size: 36px;
        line-height: 1.722;
        margin-bottom: 67px;

        @include responsive(sm) {
            font-size: 28px;
        }
    }

    &-text {
        font-size: 16px;
        line-height: 2;
        margin-bottom: 73px;
    }

    &-btn {
        display: block;
        padding: 17px 61px 16px 44px;
        border: 1px solid #707070;
        width: fit-content;

        @include responsive(md) {
            margin: 0 auto;
        }
    }

    .reverse {
        flex-direction: row-reverse;

        @include responsive(md) {
            flex-direction: column;
        }

        .service-list-item-img {
            padding-right: 0;
        }

        .service-list-item-txt {
            margin-left: 0;
            margin-right: 217px;

            @include responsive(md) {
                margin: 0 auto;
                margin-top: 100px;

            }
        }
    }
}

// プラン
.plan {
    background-image: url(../img/bg02.png);
    background-size: cover;
    padding-top: 60px;

    &-list {
        display: flex;
        justify-content: space-between;

        @include responsive(md) {
            flex-direction: column;
        }

    }

    &-list {
        margin-top: 60px;
        padding: 0 30px;
        padding-bottom: 142px;

        @include responsive(md) {
            padding-bottom: 40px;
        }
    }

    &-list-box {
        width: 30%;

        @include responsive(md) {
            display: flex;
            justify-content: space-around;
            width: 95%;
            margin-bottom: 40px;

            img {
                width: 45%;

            }

            .plan-content-wrap {
                width: 40%;
            }
        }

        @include responsive(sm) {
            margin: 0 auto;
            flex-direction: column;

            img {
                width: 95%;

            }

            .plan-content-wrap {
                width: 95%;
                text-align: center;
                margin-bottom: 40px;
            }

        }
    }

    &-title {
        padding: 20px 0 38px;
        font-size: 20px;
        line-height: 1.6;
    }

    &-text {
        font-size: 16px;
    }
}

.news {
    padding-top: 60px;

    &-menu {
        display: flex;
        gap: 50px;
        margin-bottom: 48px;
    }

    &-list-warp {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        padding: 0 20px;

        @include responsive(sm) {
            flex-direction: column;
        }

        a {
            display: block;
        }
    }

    &-list-item {
        background-color: #F6F6F6;
        margin-bottom: 20px;
        padding: 15px 10px;
        width: 48%;

        @include responsive(sm) {
            width: 100%;
        }

        .news-list-flex {
            display: flex;

        }

        .news-text-warp {
            padding-left: 30px;

        }

        img {
            width: 100px;
            height: 100px;
        }

        time {
            font-size: 14px;
        }
    }
}

// アクセス
.accses {
    padding-top: 50px;
    background-image: url(../img/bg.png);
    background-size: cover;

    &-list {
        margin-top: 79px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;

        @include responsive(sm) {
            flex-direction: column;
        }
    }

    &-list-item {
        width: 60%;

        @include responsive(sm) {
            width: 95%;
            margin: 0 auto;
        }

    }

    &-text {
        width: 34%;

        @include responsive(sm) {
            width: 95%;
            margin: 0 auto;
        }

        p {
            margin-bottom: 19px;
        }
    }

    &-text p:nth-child(1) {
        margin-top: 30px;
    }

    iframe {
        margin: 0 auto;
        padding-bottom: 110px;
    }
}

// footer
.footer {
    background-image: url(../img/bg3.png);

    &-wrap-flex {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-menu {
        font-size: 18px;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 93px;

        a {
            display: block;
            margin: 0 15px;
        }
    }

    &-logo {
        width: 145px;
        height: 96px;
        margin-bottom: 65px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-adress {
        p {
            margin-bottom: 18px;

            span {
                letter-spacing: 0.25em;
            }
        }
    }

    &-copyright {
        color: #FFF;
        background-color: #000000;
        text-align: center;
        font-size: 12px;
        padding: 20px 0;
    }
}